body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:727px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:750px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u8981 {
  position:absolute;
  left:0px;
  top:30px;
  width:720px;
  height:750px;
  font-size:14px;
}
#u8982 {
  position:absolute;
  left:2px;
  top:367px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u8983 {
  position:absolute;
  left:-1px;
  top:70px;
  width:720px;
  height:88px;
  font-size:12px;
}
#u8984 {
  position:absolute;
  left:2px;
  top:36px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u8985 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  font-size:16px;
}
#u8986 {
  position:absolute;
  left:2px;
  top:12px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8987 {
  position:absolute;
  left:22px;
  top:12px;
  width:135px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8988 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  word-wrap:break-word;
}
#u8989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8989 {
  position:absolute;
  left:62px;
  top:92px;
  width:60px;
  height:40px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u8991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u8991 {
  position:absolute;
  left:137px;
  top:104px;
  width:29px;
  height:17px;
  color:#000000;
}
#u8992 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u8993 {
  position:absolute;
  left:184px;
  top:104px;
  width:43px;
  height:17px;
  color:#1E1E1E;
}
#u8994 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u8995 {
  position:absolute;
  left:331px;
  top:98px;
  width:75px;
  height:28px;
  color:#FFFFFF;
}
#u8996 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u8997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8997 {
  position:absolute;
  left:473px;
  top:95px;
  width:128px;
  height:34px;
}
#u8998 {
  position:absolute;
  left:2px;
  top:9px;
  width:124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8999 {
  position:absolute;
  left:571px;
  top:99px;
  width:25px;
  height:25px;
}
#u9000 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u9001 {
  position:absolute;
  left:484px;
  top:104px;
  width:73px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u9002 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u9003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u9003 {
  position:absolute;
  left:255px;
  top:104px;
  width:57px;
  height:17px;
  color:#1E1E1E;
}
#u9004 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
}
#u9005 {
  position:absolute;
  left:626px;
  top:95px;
  width:33px;
  height:33px;
  font-size:10px;
}
#u9006 {
  position:absolute;
  left:2px;
  top:10px;
  width:29px;
  word-wrap:break-word;
}
#u9007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:551px;
}
#u9007 {
  position:absolute;
  left:152px;
  top:168px;
  width:507px;
  height:551px;
}
#u9008 {
  position:absolute;
  left:2px;
  top:268px;
  width:503px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:718px;
  height:133px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9009 {
  position:absolute;
  left:1px;
  top:750px;
  width:718px;
  height:133px;
}
#u9010 {
  position:absolute;
  left:2px;
  top:58px;
  width:714px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#A1A1A1;
}
#u9011 {
  position:absolute;
  left:63px;
  top:833px;
  width:283px;
  height:11px;
  font-size:10px;
  color:#A1A1A1;
}
#u9012 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u9013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9013 {
  position:absolute;
  left:63px;
  top:797px;
  width:400px;
  height:15px;
  font-size:12px;
  color:#CCCCCC;
}
#u9014 {
  position:absolute;
  left:0px;
  top:0px;
  width:388px;
  white-space:nowrap;
}
#u9015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  line-height:28px;
}
#u9015 {
  position:absolute;
  left:564px;
  top:791px;
  width:123px;
  height:24px;
  color:#CCCCCC;
  line-height:28px;
}
#u9016 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u9017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9017 {
  position:absolute;
  left:544px;
  top:797px;
  width:18px;
  height:18px;
}
#u9018 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u9019 {
  position:absolute;
  left:547px;
  top:823px;
  width:123px;
  height:24px;
  font-size:18px;
  color:#CCCCCC;
}
#u9020 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  word-wrap:break-word;
}
#u9021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9021 {
  position:absolute;
  left:176px;
  top:174px;
  width:49px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9022 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:4px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9023 {
  position:absolute;
  left:165px;
  top:213px;
  width:476px;
  height:4px;
}
#u9024 {
  position:absolute;
  left:2px;
  top:-6px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:4px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9025 {
  position:absolute;
  left:165px;
  top:213px;
  width:76px;
  height:4px;
}
#u9026 {
  position:absolute;
  left:2px;
  top:-6px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9027 {
  position:absolute;
  left:165px;
  top:230px;
  width:476px;
  height:35px;
}
#u9028 {
  position:absolute;
  left:2px;
  top:10px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9029 {
  position:absolute;
  left:179px;
  top:229px;
  width:41px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9030 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9031 {
  position:absolute;
  left:377px;
  top:229px;
  width:41px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9032 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9033 {
  position:absolute;
  left:478px;
  top:229px;
  width:41px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9034 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9035 {
  position:absolute;
  left:591px;
  top:229px;
  width:21px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9036 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u9037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9037 {
  position:absolute;
  left:165px;
  top:270px;
  width:476px;
  height:95px;
}
#u9038 {
  position:absolute;
  left:2px;
  top:40px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9039 {
  position:absolute;
  left:166px;
  top:271px;
  width:474px;
  height:25px;
}
#u9040 {
  position:absolute;
  left:2px;
  top:4px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  line-height:36px;
}
#u9041 {
  position:absolute;
  left:183px;
  top:266px;
  width:108px;
  height:36px;
  font-size:8px;
  line-height:36px;
}
#u9042 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u9043 {
  position:absolute;
  left:172px;
  top:306px;
  width:65px;
  height:47px;
  font-size:10px;
}
#u9044 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  word-wrap:break-word;
}
#u9045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9045 {
  position:absolute;
  left:247px;
  top:306px;
  width:100px;
  height:32px;
  font-size:10px;
  line-height:16px;
}
#u9046 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9047 {
  position:absolute;
  left:380px;
  top:309px;
  width:31px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9048 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u9049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9049 {
  position:absolute;
  left:468px;
  top:307px;
  width:65px;
  height:16px;
  font-size:10px;
  line-height:16px;
}
#u9050 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u9051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:4px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9051 {
  position:absolute;
  left:473px;
  top:327px;
  width:52px;
  height:4px;
  color:#FF0000;
}
#u9052 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9053 {
  position:absolute;
  left:487px;
  top:334px;
  width:28px;
  height:16px;
  font-size:10px;
  line-height:16px;
}
#u9054 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u9055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9055 {
  position:absolute;
  left:473px;
  top:327px;
  width:22px;
  height:4px;
  color:#FF0000;
}
#u9056 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9057 {
  position:absolute;
  left:581px;
  top:307px;
  width:45px;
  height:16px;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9058 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9059 {
  position:absolute;
  left:581px;
  top:327px;
  width:45px;
  height:16px;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9060 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9061 {
  position:absolute;
  left:165px;
  top:380px;
  width:476px;
  height:95px;
}
#u9062 {
  position:absolute;
  left:2px;
  top:40px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9063 {
  position:absolute;
  left:166px;
  top:381px;
  width:474px;
  height:25px;
}
#u9064 {
  position:absolute;
  left:2px;
  top:4px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  line-height:36px;
}
#u9065 {
  position:absolute;
  left:183px;
  top:376px;
  width:108px;
  height:36px;
  font-size:8px;
  line-height:36px;
}
#u9066 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u9067 {
  position:absolute;
  left:172px;
  top:416px;
  width:65px;
  height:47px;
  font-size:10px;
}
#u9068 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  word-wrap:break-word;
}
#u9069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9069 {
  position:absolute;
  left:247px;
  top:416px;
  width:100px;
  height:32px;
  font-size:10px;
  line-height:16px;
}
#u9070 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9071 {
  position:absolute;
  left:380px;
  top:419px;
  width:41px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9072 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9073 {
  position:absolute;
  left:468px;
  top:417px;
  width:65px;
  height:16px;
  font-size:10px;
  line-height:16px;
}
#u9074 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u9075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:4px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9075 {
  position:absolute;
  left:473px;
  top:437px;
  width:52px;
  height:4px;
  color:#FF0000;
}
#u9076 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9077 {
  position:absolute;
  left:487px;
  top:444px;
  width:28px;
  height:16px;
  font-size:10px;
  line-height:16px;
}
#u9078 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u9079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9079 {
  position:absolute;
  left:473px;
  top:437px;
  width:22px;
  height:4px;
  color:#FF0000;
}
#u9080 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9081 {
  position:absolute;
  left:581px;
  top:417px;
  width:45px;
  height:16px;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9082 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9083 {
  position:absolute;
  left:581px;
  top:437px;
  width:45px;
  height:16px;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9084 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9085 {
  position:absolute;
  left:165px;
  top:490px;
  width:476px;
  height:95px;
}
#u9086 {
  position:absolute;
  left:2px;
  top:40px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:25px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9087 {
  position:absolute;
  left:166px;
  top:491px;
  width:474px;
  height:25px;
}
#u9088 {
  position:absolute;
  left:2px;
  top:4px;
  width:470px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  line-height:36px;
}
#u9089 {
  position:absolute;
  left:183px;
  top:486px;
  width:108px;
  height:36px;
  font-size:8px;
  line-height:36px;
}
#u9090 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u9091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u9091 {
  position:absolute;
  left:172px;
  top:526px;
  width:65px;
  height:47px;
  font-size:10px;
}
#u9092 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  word-wrap:break-word;
}
#u9093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9093 {
  position:absolute;
  left:247px;
  top:526px;
  width:100px;
  height:32px;
  font-size:10px;
  line-height:16px;
}
#u9094 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u9095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:36px;
}
#u9095 {
  position:absolute;
  left:380px;
  top:529px;
  width:41px;
  height:36px;
  font-size:10px;
  line-height:36px;
}
#u9096 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u9097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9097 {
  position:absolute;
  left:468px;
  top:527px;
  width:65px;
  height:16px;
  font-size:10px;
  line-height:16px;
}
#u9098 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u9099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:4px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9099 {
  position:absolute;
  left:473px;
  top:547px;
  width:52px;
  height:4px;
  color:#FF0000;
}
#u9100 {
  position:absolute;
  left:2px;
  top:-6px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  line-height:16px;
}
#u9101 {
  position:absolute;
  left:487px;
  top:554px;
  width:28px;
  height:16px;
  font-size:10px;
  line-height:16px;
}
#u9102 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u9103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:4px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u9103 {
  position:absolute;
  left:473px;
  top:547px;
  width:22px;
  height:4px;
  color:#FF0000;
}
#u9104 {
  position:absolute;
  left:2px;
  top:-6px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9105 {
  position:absolute;
  left:581px;
  top:527px;
  width:45px;
  height:16px;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9106 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9107 {
  position:absolute;
  left:581px;
  top:547px;
  width:45px;
  height:16px;
  font-size:10px;
  color:#FF0000;
  line-height:16px;
}
#u9108 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u9109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:30px;
}
#u9109 {
  position:absolute;
  left:0px;
  top:40px;
  width:720px;
  height:30px;
}
#u9110 {
  position:absolute;
  left:2px;
  top:7px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u9111 {
  position:absolute;
  left:87px;
  top:49px;
  width:126px;
  height:15px;
  color:#CCCCCC;
}
#u9112 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u9113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u9113 {
  position:absolute;
  left:67px;
  top:47px;
  width:18px;
  height:18px;
}
#u9114 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u9115 {
  position:absolute;
  left:613px;
  top:48px;
  width:14px;
  height:14px;
}
#u9116 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9117 {
  position:absolute;
  left:623px;
  top:47px;
  width:6px;
  height:6px;
}
#u9118 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u9119 {
  position:absolute;
  left:639px;
  top:48px;
  width:14px;
  height:14px;
}
#u9120 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u9121 {
  position:absolute;
  left:649px;
  top:47px;
  width:6px;
  height:6px;
}
#u9122 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:374px;
}
#u9123 {
  position:absolute;
  left:62px;
  top:168px;
  width:80px;
  height:374px;
}
#u9124 {
  position:absolute;
  left:2px;
  top:179px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9125 {
  position:absolute;
  left:75px;
  top:241px;
  width:49px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9126 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u9127 {
  position:absolute;
  left:75px;
  top:273px;
  width:49px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u9128 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9129 {
  position:absolute;
  left:75px;
  top:359px;
  width:25px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9130 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9131 {
  position:absolute;
  left:75px;
  top:433px;
  width:25px;
  height:36px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  line-height:36px;
}
#u9132 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u9133 {
  position:absolute;
  left:75px;
  top:389px;
  width:49px;
  height:40px;
  font-size:12px;
  line-height:20px;
}
#u9134 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u9135 {
  position:absolute;
  left:75px;
  top:463px;
  width:49px;
  height:60px;
  font-size:12px;
  line-height:20px;
}
#u9136 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u9137 {
  position:absolute;
  left:75px;
  top:333px;
  width:49px;
  height:20px;
  font-size:12px;
  line-height:20px;
}
#u9138 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:36px;
}
#u9139 {
  position:absolute;
  left:75px;
  top:179px;
  width:49px;
  height:24px;
  font-size:12px;
  line-height:36px;
}
#u9140 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:24px;
}
#u9141 {
  position:absolute;
  left:61px;
  top:212px;
  width:80px;
  height:24px;
}
#u9142 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  line-height:20px;
}
#u9143 {
  position:absolute;
  left:75px;
  top:213px;
  width:49px;
  height:20px;
  font-size:12px;
  line-height:20px;
}
#u9144 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#CCCCCC;
}
#u9145 {
  position:absolute;
  left:445px;
  top:48px;
  width:136px;
  height:17px;
  font-size:12px;
  color:#CCCCCC;
}
#u9146 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u9147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:843px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9147 {
  position:absolute;
  left:9px;
  top:40px;
  width:719px;
  height:843px;
  opacity:0.7;
}
#u9148 {
  position:absolute;
  left:2px;
  top:414px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:289px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9149 {
  position:absolute;
  left:70px;
  top:276px;
  width:560px;
  height:289px;
}
#u9150 {
  position:absolute;
  left:2px;
  top:136px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9151 {
  position:absolute;
  left:315px;
  top:310px;
  width:57px;
  height:17px;
}
#u9152 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:2px;
}
#u9153 {
  position:absolute;
  left:92px;
  top:343px;
  width:520px;
  height:1px;
}
#u9154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9155 {
  position:absolute;
  left:263px;
  top:386px;
  width:183px;
  height:17px;
}
#u9156 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u9157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u9157 {
  position:absolute;
  left:378px;
  top:458px;
  width:101px;
  height:40px;
  color:#FFFFFF;
}
#u9158 {
  position:absolute;
  left:2px;
  top:11px;
  width:97px;
  word-wrap:break-word;
}
#u9159_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u9159 {
  position:absolute;
  left:227px;
  top:457px;
  width:101px;
  height:40px;
  color:#000000;
}
#u9160 {
  position:absolute;
  left:2px;
  top:11px;
  width:97px;
  word-wrap:break-word;
}
