body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1558px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1504px;
  height:1778px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:54px;
  top:52px;
  width:1504px;
  height:1778px;
}
#u1 {
  position:absolute;
  left:2px;
  top:881px;
  width:1500px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:783px;
  top:75px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4 {
  position:absolute;
  left:264px;
  top:345px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6 {
  position:absolute;
  left:484px;
  top:345px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:710px;
  top:345px;
  width:100px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10 {
  position:absolute;
  left:927px;
  top:345px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12 {
  position:absolute;
  left:484px;
  top:228px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  position:absolute;
  left:927px;
  top:228px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16 {
  position:absolute;
  left:1191px;
  top:228px;
  width:100px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18 {
  position:absolute;
  left:319px;
  top:732px;
  width:100px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:484px;
  top:732px;
  width:100px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:695px;
  top:730px;
  width:100px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:534px;
  top:288px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u24_seg1 {
  position:absolute;
  left:-224px;
  top:26px;
  width:228px;
  height:8px;
}
#u24_seg2 {
  position:absolute;
  left:-224px;
  top:26px;
  width:8px;
  height:31px;
}
#u24_seg3 {
  position:absolute;
  left:-230px;
  top:42px;
  width:20px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-158px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:534px;
  top:288px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u26_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:534px;
  top:288px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u28_seg1 {
  position:absolute;
  left:-4px;
  top:26px;
  width:234px;
  height:8px;
}
#u28_seg2 {
  position:absolute;
  left:222px;
  top:26px;
  width:8px;
  height:31px;
}
#u28_seg3 {
  position:absolute;
  left:216px;
  top:42px;
  width:20px;
  height:20px;
}
#u29 {
  position:absolute;
  left:61px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:319px;
  top:904px;
  width:100px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:369px;
  top:792px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:116px;
}
#u32_seg1 {
  position:absolute;
  left:-10px;
  top:97px;
  width:20px;
  height:20px;
}
#u33 {
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u34 {
  position:absolute;
  left:319px;
  top:1184px;
  width:100px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u36_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u36 {
  position:absolute;
  left:319px;
  top:1465px;
  width:100px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:369px;
  top:1244px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:225px;
}
#u38_seg1 {
  position:absolute;
  left:-10px;
  top:206px;
  width:20px;
  height:20px;
}
#u39 {
  position:absolute;
  left:-50px;
  top:102px;
  width:100px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:319px;
  top:1214px;
  width:0px;
  height:0px;
}
#u40_seg0 {
  position:absolute;
  left:-36px;
  top:-4px;
  width:36px;
  height:8px;
}
#u40_seg1 {
  position:absolute;
  left:-36px;
  top:-456px;
  width:8px;
  height:460px;
}
#u40_seg2 {
  position:absolute;
  left:-36px;
  top:-456px;
  width:36px;
  height:8px;
}
#u40_seg3 {
  position:absolute;
  left:-15px;
  top:-462px;
  width:20px;
  height:20px;
}
#u41 {
  position:absolute;
  left:-82px;
  top:-235px;
  width:100px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u42 {
  position:absolute;
  left:319px;
  top:1575px;
  width:100px;
  height:60px;
}
#u43 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:369px;
  top:1525px;
  width:0px;
  height:0px;
}
#u44_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u45 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u46 {
  position:absolute;
  left:319px;
  top:1688px;
  width:100px;
  height:60px;
}
#u47 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:369px;
  top:1635px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u49 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:484px;
  top:816px;
  width:100px;
  height:60px;
}
#u51 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u52_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u52 {
  position:absolute;
  left:484px;
  top:900px;
  width:100px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:534px;
  top:792px;
  width:0px;
  height:0px;
}
#u54_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u54_seg1 {
  position:absolute;
  left:-10px;
  top:9px;
  width:20px;
  height:20px;
}
#u55 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:534px;
  top:876px;
  width:0px;
  height:0px;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u56_seg1 {
  position:absolute;
  left:-10px;
  top:9px;
  width:20px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u58 {
  position:absolute;
  left:484px;
  top:990px;
  width:100px;
  height:60px;
}
#u59 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u60 {
  position:absolute;
  left:484px;
  top:1078px;
  width:100px;
  height:60px;
}
#u61 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:534px;
  top:960px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u62_seg1 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u63 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:534px;
  top:1050px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:32px;
}
#u64_seg1 {
  position:absolute;
  left:-10px;
  top:13px;
  width:20px;
  height:20px;
}
#u65 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u66 {
  position:absolute;
  left:484px;
  top:1181px;
  width:100px;
  height:60px;
}
#u67 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:534px;
  top:1138px;
  width:0px;
  height:0px;
}
#u68_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u68_seg1 {
  position:absolute;
  left:-10px;
  top:28px;
  width:20px;
  height:20px;
}
#u69 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u70 {
  position:absolute;
  left:484px;
  top:1465px;
  width:100px;
  height:60px;
}
#u71 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:584px;
  top:1108px;
  width:0px;
  height:0px;
}
#u72_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u72_seg1 {
  position:absolute;
  left:53px;
  top:-4px;
  width:8px;
  height:618px;
}
#u72_seg2 {
  position:absolute;
  left:-165px;
  top:606px;
  width:226px;
  height:8px;
}
#u72_seg3 {
  position:absolute;
  left:-170px;
  top:600px;
  width:20px;
  height:20px;
}
#u73 {
  position:absolute;
  left:7px;
  top:378px;
  width:100px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:484px;
  top:1495px;
  width:0px;
  height:0px;
}
#u74_seg0 {
  position:absolute;
  left:-65px;
  top:-4px;
  width:69px;
  height:8px;
}
#u74_seg1 {
  position:absolute;
  left:-70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u75 {
  position:absolute;
  left:-82px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u76 {
  position:absolute;
  left:484px;
  top:1360px;
  width:100px;
  height:60px;
}
#u77 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:534px;
  top:1420px;
  width:0px;
  height:0px;
}
#u78_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u78_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u79 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u81 {
  position:absolute;
  left:613px;
  top:873px;
  width:100px;
  height:60px;
}
#u82 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:613px;
  top:873px;
  width:10px;
  height:60px;
}
#u84 {
  position:absolute;
  left:2px;
  top:22px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  position:absolute;
  left:703px;
  top:873px;
  width:10px;
  height:60px;
}
#u86 {
  position:absolute;
  left:2px;
  top:22px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u88 {
  position:absolute;
  left:773px;
  top:873px;
  width:100px;
  height:60px;
}
#u89 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u90 {
  position:absolute;
  left:773px;
  top:873px;
  width:10px;
  height:60px;
}
#u91 {
  position:absolute;
  left:2px;
  top:22px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u92 {
  position:absolute;
  left:863px;
  top:873px;
  width:10px;
  height:60px;
}
#u93 {
  position:absolute;
  left:2px;
  top:22px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:745px;
  top:790px;
  width:0px;
  height:0px;
}
#u94_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u94_seg1 {
  position:absolute;
  left:-86px;
  top:41px;
  width:90px;
  height:8px;
}
#u94_seg2 {
  position:absolute;
  left:-86px;
  top:41px;
  width:8px;
  height:42px;
}
#u94_seg3 {
  position:absolute;
  left:-92px;
  top:68px;
  width:20px;
  height:20px;
}
#u95 {
  position:absolute;
  left:-87px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:745px;
  top:790px;
  width:0px;
  height:0px;
}
#u96_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u96_seg1 {
  position:absolute;
  left:-4px;
  top:41px;
  width:86px;
  height:8px;
}
#u96_seg2 {
  position:absolute;
  left:74px;
  top:41px;
  width:8px;
  height:42px;
}
#u96_seg3 {
  position:absolute;
  left:68px;
  top:68px;
  width:20px;
  height:20px;
}
#u97 {
  position:absolute;
  left:-15px;
  top:37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:484px;
  top:434px;
  width:100px;
  height:60px;
}
#u99 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:534px;
  top:405px;
  width:0px;
  height:0px;
}
#u100_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u100_seg1 {
  position:absolute;
  left:-10px;
  top:14px;
  width:20px;
  height:20px;
}
#u101 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:81px;
}
#u102 {
  position:absolute;
  left:474px;
  top:607px;
  width:119px;
  height:80px;
}
#u103 {
  position:absolute;
  left:2px;
  top:13px;
  width:115px;
  word-wrap:break-word;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u104 {
  position:absolute;
  left:710px;
  top:473px;
  width:100px;
  height:60px;
}
#u105 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:760px;
  top:405px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u106_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u107 {
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u108 {
  position:absolute;
  left:484px;
  top:517px;
  width:100px;
  height:60px;
}
#u109 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:534px;
  top:494px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:27px;
}
#u110_seg1 {
  position:absolute;
  left:-10px;
  top:8px;
  width:20px;
  height:20px;
}
#u111 {
  position:absolute;
  left:-50px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  position:absolute;
  left:534px;
  top:577px;
  width:0px;
  height:0px;
}
#u112_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:34px;
}
#u112_seg1 {
  position:absolute;
  left:-10px;
  top:15px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:-50px;
  top:7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114 {
  position:absolute;
  left:810px;
  top:503px;
  width:0px;
  height:0px;
}
#u114_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u114_seg1 {
  position:absolute;
  left:25px;
  top:-132px;
  width:8px;
  height:136px;
}
#u114_seg2 {
  position:absolute;
  left:0px;
  top:-132px;
  width:33px;
  height:8px;
}
#u114_seg3 {
  position:absolute;
  left:-5px;
  top:-138px;
  width:20px;
  height:20px;
}
#u115 {
  position:absolute;
  left:-21px;
  top:-73px;
  width:100px;
  word-wrap:break-word;
}
#u116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u116 {
  position:absolute;
  left:710px;
  top:617px;
  width:100px;
  height:60px;
}
#u117 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:760px;
  top:533px;
  width:0px;
  height:0px;
}
#u118_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:88px;
}
#u118_seg1 {
  position:absolute;
  left:-10px;
  top:69px;
  width:20px;
  height:20px;
}
#u119 {
  position:absolute;
  left:-50px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120 {
  position:absolute;
  left:710px;
  top:647px;
  width:0px;
  height:0px;
}
#u120_seg0 {
  position:absolute;
  left:-117px;
  top:-4px;
  width:121px;
  height:8px;
}
#u120_seg1 {
  position:absolute;
  left:-122px;
  top:-10px;
  width:20px;
  height:20px;
}
#u121 {
  position:absolute;
  left:-108px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:314px;
  top:405px;
  width:0px;
  height:0px;
}
#u122_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:246px;
}
#u122_seg1 {
  position:absolute;
  left:-4px;
  top:238px;
  width:164px;
  height:8px;
}
#u122_seg2 {
  position:absolute;
  left:145px;
  top:232px;
  width:20px;
  height:20px;
}
#u123 {
  position:absolute;
  left:-50px;
  top:193px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:534px;
  top:687px;
  width:0px;
  height:0px;
}
#u124_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u124_seg1 {
  position:absolute;
  left:-169px;
  top:12px;
  width:173px;
  height:8px;
}
#u124_seg2 {
  position:absolute;
  left:-169px;
  top:12px;
  width:8px;
  height:33px;
}
#u124_seg3 {
  position:absolute;
  left:-175px;
  top:30px;
  width:20px;
  height:20px;
}
#u125 {
  position:absolute;
  left:-139px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126 {
  position:absolute;
  left:534px;
  top:687px;
  width:0px;
  height:0px;
}
#u126_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u126_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u127 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u128 {
  position:absolute;
  left:534px;
  top:687px;
  width:0px;
  height:0px;
}
#u128_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:20px;
}
#u128_seg1 {
  position:absolute;
  left:-4px;
  top:12px;
  width:219px;
  height:8px;
}
#u128_seg2 {
  position:absolute;
  left:207px;
  top:12px;
  width:8px;
  height:31px;
}
#u128_seg3 {
  position:absolute;
  left:201px;
  top:28px;
  width:20px;
  height:20px;
}
#u129 {
  position:absolute;
  left:61px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  position:absolute;
  left:977px;
  top:288px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u130_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u131 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:977px;
  top:405px;
  width:0px;
  height:0px;
}
#u132_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:246px;
}
#u132_seg1 {
  position:absolute;
  left:-167px;
  top:238px;
  width:171px;
  height:8px;
}
#u132_seg2 {
  position:absolute;
  left:-172px;
  top:232px;
  width:20px;
  height:20px;
}
#u133 {
  position:absolute;
  left:-50px;
  top:196px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u134 {
  position:absolute;
  left:1191px;
  top:342px;
  width:100px;
  height:60px;
}
#u135 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u136 {
  position:absolute;
  left:1191px;
  top:827px;
  width:100px;
  height:60px;
}
#u137 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:1241px;
  top:288px;
  width:0px;
  height:0px;
}
#u138_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u138_seg1 {
  position:absolute;
  left:-10px;
  top:39px;
  width:20px;
  height:20px;
}
#u139 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u140 {
  position:absolute;
  left:1347px;
  top:455px;
  width:100px;
  height:60px;
}
#u141 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u142 {
  position:absolute;
  left:1191px;
  top:937px;
  width:100px;
  height:60px;
}
#u143 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u144 {
  position:absolute;
  left:484px;
  top:1268px;
  width:100px;
  height:60px;
}
#u145 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:534px;
  top:1241px;
  width:0px;
  height:0px;
}
#u146_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:31px;
}
#u146_seg1 {
  position:absolute;
  left:-10px;
  top:12px;
  width:20px;
  height:20px;
}
#u147 {
  position:absolute;
  left:-50px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:534px;
  top:1328px;
  width:0px;
  height:0px;
}
#u148_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:36px;
}
#u148_seg1 {
  position:absolute;
  left:-10px;
  top:17px;
  width:20px;
  height:20px;
}
#u149 {
  position:absolute;
  left:-50px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u150 {
  position:absolute;
  left:319px;
  top:1045px;
  width:100px;
  height:60px;
}
#u151 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:369px;
  top:964px;
  width:0px;
  height:0px;
}
#u152_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:85px;
}
#u152_seg1 {
  position:absolute;
  left:-10px;
  top:66px;
  width:20px;
  height:20px;
}
#u153 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:369px;
  top:1105px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:83px;
}
#u154_seg1 {
  position:absolute;
  left:-10px;
  top:64px;
  width:20px;
  height:20px;
}
#u155 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u156 {
  position:absolute;
  left:1191px;
  top:455px;
  width:100px;
  height:60px;
}
#u157 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u158 {
  position:absolute;
  left:1241px;
  top:402px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u158_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u159 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u160 {
  position:absolute;
  left:1191px;
  top:717px;
  width:100px;
  height:60px;
}
#u161 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u162 {
  position:absolute;
  left:1191px;
  top:604px;
  width:100px;
  height:60px;
}
#u163 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:1241px;
  top:515px;
  width:0px;
  height:0px;
}
#u164_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:93px;
}
#u164_seg1 {
  position:absolute;
  left:-10px;
  top:74px;
  width:20px;
  height:20px;
}
#u165 {
  position:absolute;
  left:-50px;
  top:36px;
  width:100px;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:1241px;
  top:664px;
  width:0px;
  height:0px;
}
#u166_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u166_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u167 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168 {
  position:absolute;
  left:1241px;
  top:777px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u168_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u169 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:1291px;
  top:485px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u170_seg1 {
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u171 {
  position:absolute;
  left:-22px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u172 {
  position:absolute;
  left:1397px;
  top:515px;
  width:0px;
  height:0px;
}
#u172_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:175px;
}
#u172_seg1 {
  position:absolute;
  left:-160px;
  top:167px;
  width:164px;
  height:8px;
}
#u172_seg2 {
  position:absolute;
  left:-160px;
  top:167px;
  width:8px;
  height:35px;
}
#u172_seg3 {
  position:absolute;
  left:-166px;
  top:187px;
  width:20px;
  height:20px;
}
#u173 {
  position:absolute;
  left:-58px;
  top:163px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:1191px;
  top:747px;
  width:0px;
  height:0px;
}
#u174_seg0 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u174_seg1 {
  position:absolute;
  left:-69px;
  top:-379px;
  width:8px;
  height:383px;
}
#u174_seg2 {
  position:absolute;
  left:-69px;
  top:-379px;
  width:69px;
  height:8px;
}
#u174_seg3 {
  position:absolute;
  left:-15px;
  top:-385px;
  width:20px;
  height:20px;
}
#u175 {
  position:absolute;
  left:-115px;
  top:-196px;
  width:100px;
  word-wrap:break-word;
}
#u176 {
  position:absolute;
  left:1241px;
  top:887px;
  width:0px;
  height:0px;
}
#u176_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u176_seg1 {
  position:absolute;
  left:-10px;
  top:35px;
  width:20px;
  height:20px;
}
#u177 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u178 {
  position:absolute;
  left:1191px;
  top:1056px;
  width:100px;
  height:60px;
}
#u179 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:1241px;
  top:997px;
  width:0px;
  height:0px;
}
#u180_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u180_seg1 {
  position:absolute;
  left:-10px;
  top:44px;
  width:20px;
  height:20px;
}
#u181 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u182 {
  position:absolute;
  left:1191px;
  top:1178px;
  width:100px;
  height:60px;
}
#u183 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:1241px;
  top:1116px;
  width:0px;
  height:0px;
}
#u184_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u184_seg1 {
  position:absolute;
  left:-10px;
  top:47px;
  width:20px;
  height:20px;
}
#u185 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:1241px;
  top:1238px;
  width:0px;
  height:0px;
}
#u186_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:484px;
}
#u186_seg1 {
  position:absolute;
  left:-822px;
  top:476px;
  width:826px;
  height:8px;
}
#u186_seg2 {
  position:absolute;
  left:-827px;
  top:470px;
  width:20px;
  height:20px;
}
#u187 {
  position:absolute;
  left:-221px;
  top:471px;
  width:100px;
  word-wrap:break-word;
}
#u188 {
  position:absolute;
  left:833px;
  top:135px;
  width:0px;
  height:0px;
}
#u188_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u188_seg1 {
  position:absolute;
  left:-303px;
  top:37px;
  width:307px;
  height:8px;
}
#u188_seg2 {
  position:absolute;
  left:-303px;
  top:37px;
  width:8px;
  height:56px;
}
#u188_seg3 {
  position:absolute;
  left:-309px;
  top:78px;
  width:20px;
  height:20px;
}
#u189 {
  position:absolute;
  left:-205px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:833px;
  top:135px;
  width:0px;
  height:0px;
}
#u190_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u190_seg1 {
  position:absolute;
  left:-4px;
  top:36px;
  width:152px;
  height:8px;
}
#u190_seg2 {
  position:absolute;
  left:140px;
  top:36px;
  width:8px;
  height:57px;
}
#u190_seg3 {
  position:absolute;
  left:134px;
  top:78px;
  width:20px;
  height:20px;
}
#u191 {
  position:absolute;
  left:28px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:833px;
  top:135px;
  width:0px;
  height:0px;
}
#u192_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u192_seg1 {
  position:absolute;
  left:-4px;
  top:35px;
  width:416px;
  height:8px;
}
#u192_seg2 {
  position:absolute;
  left:404px;
  top:35px;
  width:8px;
  height:58px;
}
#u192_seg3 {
  position:absolute;
  left:398px;
  top:78px;
  width:20px;
  height:20px;
}
#u193 {
  position:absolute;
  left:162px;
  top:31px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194 {
  position:absolute;
  left:319px;
  top:1605px;
  width:0px;
  height:0px;
}
#u194_seg0 {
  position:absolute;
  left:-64px;
  top:-4px;
  width:64px;
  height:8px;
}
#u194_seg1 {
  position:absolute;
  left:-64px;
  top:-114px;
  width:8px;
  height:118px;
}
#u194_seg2 {
  position:absolute;
  left:-64px;
  top:-114px;
  width:64px;
  height:8px;
}
#u194_seg3 {
  position:absolute;
  left:-15px;
  top:-120px;
  width:20px;
  height:20px;
}
#u195 {
  position:absolute;
  left:-110px;
  top:-64px;
  width:100px;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:1191px;
  top:1208px;
  width:0px;
  height:0px;
}
#u196_seg0 {
  position:absolute;
  left:-69px;
  top:-4px;
  width:69px;
  height:8px;
}
#u196_seg1 {
  position:absolute;
  left:-69px;
  top:-126px;
  width:8px;
  height:130px;
}
#u196_seg2 {
  position:absolute;
  left:-69px;
  top:-126px;
  width:69px;
  height:8px;
}
#u196_seg3 {
  position:absolute;
  left:-15px;
  top:-132px;
  width:20px;
  height:20px;
}
#u197 {
  position:absolute;
  left:-115px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:98px;
}
#u198 {
  position:absolute;
  left:147px;
  top:1669px;
  width:109px;
  height:97px;
}
#u199 {
  position:absolute;
  left:2px;
  top:12px;
  width:105px;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:319px;
  top:1718px;
  width:0px;
  height:0px;
}
#u200_seg0 {
  position:absolute;
  left:-63px;
  top:-4px;
  width:67px;
  height:8px;
}
#u200_seg1 {
  position:absolute;
  left:-68px;
  top:-10px;
  width:20px;
  height:20px;
}
#u201 {
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
