body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:972px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3768 {
  position:absolute;
  left:0px;
  top:40px;
  width:720px;
  height:972px;
  font-size:14px;
}
#u3769 {
  position:absolute;
  left:2px;
  top:478px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3770 {
  position:absolute;
  left:-1px;
  top:40px;
  width:720px;
  height:88px;
  font-size:12px;
}
#u3771 {
  position:absolute;
  left:2px;
  top:36px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3772 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  font-size:16px;
}
#u3773 {
  position:absolute;
  left:2px;
  top:12px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3774 {
  position:absolute;
  left:22px;
  top:12px;
  width:198px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3775 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u3776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3776 {
  position:absolute;
  left:62px;
  top:62px;
  width:60px;
  height:40px;
}
#u3777 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u3778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:791px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3778 {
  position:absolute;
  left:61px;
  top:148px;
  width:599px;
  height:791px;
}
#u3779 {
  position:absolute;
  left:2px;
  top:388px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3780 {
  position:absolute;
  left:115px;
  top:171px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u3781 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3782 {
  position:absolute;
  left:115px;
  top:199px;
  width:493px;
  height:235px;
  font-size:12px;
}
#u3783 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3784 {
  position:absolute;
  left:133px;
  top:220px;
  width:39px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3785 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3786 {
  position:absolute;
  left:467px;
  top:838px;
  width:116px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u3787 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3788 {
  position:absolute;
  left:127px;
  top:258px;
  width:195px;
  height:17px;
}
#u3789 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u3790_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  line-height:12px;
}
#u3790 {
  position:absolute;
  left:133px;
  top:284px;
  width:461px;
  height:12px;
  font-size:8px;
  line-height:12px;
}
#u3791 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u3792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#000000;
}
#u3792 {
  position:absolute;
  left:133px;
  top:308px;
  width:100px;
  height:10px;
  font-size:8px;
  color:#000000;
}
#u3793 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u3794 {
  position:absolute;
  left:135px;
  top:328px;
  width:60px;
  height:51px;
}
#u3795 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u3796 {
  position:absolute;
  left:133px;
  top:388px;
  width:156px;
  height:10px;
  font-size:8px;
  color:#999999;
}
#u3797 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u3798 {
  position:absolute;
  left:133px;
  top:405px;
  width:121px;
  height:10px;
  font-size:8px;
  color:#999999;
}
#u3799 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3800 {
  position:absolute;
  left:135px;
  top:455px;
  width:25px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3801 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3802 {
  position:absolute;
  left:135px;
  top:500px;
  width:49px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3803 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3804 {
  position:absolute;
  left:179px;
  top:446px;
  width:33px;
  height:33px;
  font-size:36px;
}
#u3805 {
  position:absolute;
  left:2px;
  top:-4px;
  width:29px;
  word-wrap:break-word;
}
#u3806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3806 {
  position:absolute;
  left:211px;
  top:446px;
  width:66px;
  height:33px;
  font-size:16px;
}
#u3807 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3808 {
  position:absolute;
  left:275px;
  top:446px;
  width:33px;
  height:33px;
  font-size:36px;
}
#u3809 {
  position:absolute;
  left:2px;
  top:-4px;
  width:29px;
  word-wrap:break-word;
}
#u3810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3810 {
  position:absolute;
  left:135px;
  top:527px;
  width:466px;
  height:50px;
}
#u3811 {
  position:absolute;
  left:2px;
  top:17px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3812 {
  position:absolute;
  left:150px;
  top:540px;
  width:22px;
  height:22px;
}
#u3813 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3814 {
  position:absolute;
  left:155px;
  top:545px;
  width:12px;
  height:12px;
}
#u3815 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3816 {
  position:absolute;
  left:182px;
  top:545px;
  width:99px;
  height:17px;
}
#u3817 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3818 {
  position:absolute;
  left:152px;
  top:596px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3819 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3820 {
  position:absolute;
  left:374px;
  top:596px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3822 {
  position:absolute;
  left:163px;
  top:604px;
  width:29px;
  height:17px;
  color:#999999;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3824 {
  position:absolute;
  left:383px;
  top:604px;
  width:43px;
  height:17px;
  color:#999999;
}
#u3825 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3826 {
  position:absolute;
  left:152px;
  top:646px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3827 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3828 {
  position:absolute;
  left:374px;
  top:646px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3829 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3830 {
  position:absolute;
  left:163px;
  top:654px;
  width:71px;
  height:17px;
  color:#000000;
}
#u3831 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3832 {
  position:absolute;
  left:383px;
  top:654px;
  width:71px;
  height:17px;
  color:#000000;
}
#u3833 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3834 {
  position:absolute;
  left:330px;
  top:651px;
  width:25px;
  height:25px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3836 {
  position:absolute;
  left:550px;
  top:651px;
  width:25px;
  height:25px;
}
#u3837 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3838 {
  position:absolute;
  left:152px;
  top:696px;
  width:430px;
  height:33px;
  font-size:16px;
}
#u3839 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3840 {
  position:absolute;
  left:163px;
  top:704px;
  width:57px;
  height:17px;
  color:#999999;
}
#u3841 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3842 {
  position:absolute;
  left:152px;
  top:746px;
  width:430px;
  height:33px;
  font-size:16px;
}
#u3843 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3844 {
  position:absolute;
  left:163px;
  top:754px;
  width:225px;
  height:17px;
  color:#999999;
}
#u3845 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3846 {
  position:absolute;
  left:543px;
  top:807px;
  width:39px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3848 {
  position:absolute;
  left:517px;
  top:812px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u3849 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3850 {
  position:absolute;
  left:137px;
  top:82px;
  width:29px;
  height:17px;
  color:#000000;
}
#u3851 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:252px;
}
#u3852 {
  position:absolute;
  left:374px;
  top:679px;
  width:302px;
  height:252px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:118px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
