body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2239px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:830px;
}
#u3392 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1422px;
  height:830px;
}
#u3392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:892px;
  height:642px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3393 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:230px;
  width:892px;
  height:642px;
}
#u3393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:765px;
  height:717px;
}
#u3394 {
  border-width:0px;
  position:absolute;
  left:1474px;
  top:135px;
  width:765px;
  height:717px;
  font-size:14px;
  color:#FF3399;
}
#u3394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u3395 {
  border-width:0px;
  position:absolute;
  left:1574px;
  top:96px;
  width:81px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u3395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3396 {
  border-width:0px;
  position:absolute;
  left:1550px;
  top:92px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u3396_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-20px;
  width:8px;
  height:20px;
}
#u3396_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-20px;
  width:28px;
  height:8px;
}
#u3396_seg2 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-20px;
  width:8px;
  height:20px;
}
#u3396_seg3 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-8px;
  width:50px;
  height:8px;
}
#u3396_seg4 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u3396_text {
  border-width:0px;
  position:absolute;
  left:-30px;
  top:-13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:28px;
}
#u3397 {
  border-width:0px;
  position:absolute;
  left:1501px;
  top:159px;
  width:699px;
  height:580px;
  font-size:14px;
  line-height:28px;
}
#u3397_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:691px;
  word-wrap:break-word;
}
#u3398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:23px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3398 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:181px;
  width:69px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3398_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  word-wrap:break-word;
}
#u3399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:554px;
}
#u3399 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:222px;
  width:672px;
  height:554px;
}
#u3399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:51px;
}
#u3400 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:171px;
  width:122px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:118px;
  word-wrap:break-word;
}
#u3401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:51px;
}
#u3401 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:297px;
  width:122px;
  height:51px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3403 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:208px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u3403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u3404 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:220px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u3404_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u3404_seg1 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-14px;
  width:8px;
  height:18px;
}
#u3404_seg2 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-14px;
  width:18px;
  height:8px;
}
#u3404_seg3 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-14px;
  width:8px;
  height:18px;
}
#u3404_seg4 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:-4px;
  width:13px;
  height:8px;
}
#u3404_seg5 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3404_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3406 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:331px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u3406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u3407 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:343px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u3407_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:33px;
  height:8px;
}
#u3407_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3407_text {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
