body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23879 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:1368px;
}
#u23880 {
  position:absolute;
  left:2px;
  top:676px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u23881 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
}
#u23882 {
  position:absolute;
  left:2px;
  top:10px;
  width:1076px;
  word-wrap:break-word;
}
#u23884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:338px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23884 {
  position:absolute;
  left:0px;
  top:1105px;
  width:1080px;
  height:338px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23885 {
  position:absolute;
  left:2px;
  top:161px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23886 {
  position:absolute;
  left:456px;
  top:1128px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23887 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23888 {
  position:absolute;
  left:270px;
  top:1160px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23889 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23890 {
  position:absolute;
  left:627px;
  top:1129px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23891 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23892 {
  position:absolute;
  left:836px;
  top:1170px;
  width:210px;
  height:20px;
  color:#666666;
}
#u23893 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u23894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u23894 {
  position:absolute;
  left:836px;
  top:1129px;
  width:172px;
  height:32px;
  font-size:28px;
}
#u23895 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  white-space:nowrap;
}
#u23896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u23896 {
  position:absolute;
  left:442px;
  top:1160px;
  width:110px;
  height:110px;
}
#u23897 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:110px;
}
#u23898 {
  position:absolute;
  left:606px;
  top:1160px;
  width:110px;
  height:110px;
}
#u23899 {
  position:absolute;
  left:2px;
  top:47px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:144px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23900 {
  position:absolute;
  left:0px;
  top:1299px;
  width:1080px;
  height:144px;
}
#u23901 {
  position:absolute;
  left:2px;
  top:64px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u23902 {
  position:absolute;
  left:49px;
  top:1341px;
  width:980px;
  height:40px;
  color:#666666;
}
#u23903 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  word-wrap:break-word;
}
#u23904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
}
#u23904 {
  position:absolute;
  left:49px;
  top:1308px;
  width:186px;
  height:25px;
  font-size:18px;
  color:#666666;
}
#u23905 {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  white-space:nowrap;
}
#u23906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23906 {
  position:absolute;
  left:836px;
  top:1210px;
  width:89px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23907 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u23908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23908 {
  position:absolute;
  left:836px;
  top:1245px;
  width:81px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23909 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u23910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u23910 {
  position:absolute;
  left:920px;
  top:1207px;
  width:20px;
  height:24px;
}
#u23911 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u23912 {
  position:absolute;
  left:917px;
  top:1241px;
  width:24px;
  height:24px;
}
#u23913 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:20px;
}
#u23914 {
  position:absolute;
  left:49px;
  top:1232px;
  width:309px;
  height:20px;
  font-size:14px;
}
#u23915 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  word-wrap:break-word;
}
#u23916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:17px;
}
#u23916 {
  position:absolute;
  left:49px;
  top:1258px;
  width:300px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u23917 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u23918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23918 {
  position:absolute;
  left:163px;
  top:1160px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23919 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23920 {
  position:absolute;
  left:49px;
  top:1160px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23921 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23922 {
  position:absolute;
  left:49px;
  top:1190px;
  width:54px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23923 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u23924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23924 {
  position:absolute;
  left:49px;
  top:1128px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u23925 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u23926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u23926 {
  position:absolute;
  left:428px;
  top:1395px;
  width:38px;
  height:34px;
}
#u23927 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u23928 {
  position:absolute;
  left:49px;
  top:1394px;
  width:96px;
  height:34px;
}
#u23929 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:32px;
}
#u23930 {
  position:absolute;
  left:175px;
  top:1393px;
  width:75px;
  height:32px;
}
#u23931 {
  position:absolute;
  left:2px;
  top:8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u23932 {
  position:absolute;
  left:275px;
  top:1398px;
  width:125px;
  height:27px;
}
#u23933 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23934 {
  position:absolute;
  left:163px;
  top:1190px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23935 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23936 {
  position:absolute;
  left:270px;
  top:1190px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u23937 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23939 {
  position:absolute;
  left:0px;
  top:44px;
  width:1080px;
  height:30px;
}
#u23940 {
  position:absolute;
  left:2px;
  top:7px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23941 {
  position:absolute;
  left:366px;
  top:44px;
  width:71px;
  height:30px;
}
#u23942 {
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u23943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23943 {
  position:absolute;
  left:842px;
  top:44px;
  width:57px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23944 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u23945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23945 {
  position:absolute;
  left:915px;
  top:44px;
  width:57px;
  height:30px;
}
#u23946 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u23947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23947 {
  position:absolute;
  left:40px;
  top:45px;
  width:319px;
  height:29px;
}
#u23948 {
  position:absolute;
  left:0px;
  top:4px;
  width:319px;
  word-wrap:break-word;
}
#u23949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23949 {
  position:absolute;
  left:454px;
  top:44px;
  width:57px;
  height:30px;
}
#u23950 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u23951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23951 {
  position:absolute;
  left:985px;
  top:44px;
  width:57px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23952 {
  position:absolute;
  left:0px;
  top:5px;
  width:57px;
  white-space:nowrap;
}
#u23953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23953 {
  position:absolute;
  left:735px;
  top:44px;
  width:64px;
  height:30px;
}
#u23954 {
  position:absolute;
  left:0px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u23955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23955 {
  position:absolute;
  left:800px;
  top:44px;
  width:29px;
  height:30px;
}
#u23956 {
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  white-space:nowrap;
}
#u23957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23957 {
  position:absolute;
  left:590px;
  top:44px;
  width:119px;
  height:30px;
}
#u23958 {
  position:absolute;
  left:0px;
  top:5px;
  width:119px;
  white-space:nowrap;
}
#u23959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u23959 {
  position:absolute;
  left:791px;
  top:52px;
  width:1px;
  height:15px;
}
#u23960 {
  position:absolute;
  left:2px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u23961 {
  position:absolute;
  left:712px;
  top:52px;
  width:20px;
  height:15px;
}
#u23962 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23964 {
  position:absolute;
  left:0px;
  top:74px;
  width:1080px;
  height:60px;
}
#u23965 {
  position:absolute;
  left:2px;
  top:22px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23966 {
  position:absolute;
  left:50px;
  top:82px;
  width:129px;
  height:45px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u23967 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u23968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23968 {
  position:absolute;
  left:644px;
  top:74px;
  width:50px;
  height:60px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23969 {
  position:absolute;
  left:0px;
  top:19px;
  width:50px;
  word-wrap:break-word;
}
#u23970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23970 {
  position:absolute;
  left:698px;
  top:74px;
  width:47px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23971 {
  position:absolute;
  left:0px;
  top:19px;
  width:47px;
  word-wrap:break-word;
}
#u23972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23972 {
  position:absolute;
  left:755px;
  top:74px;
  width:73px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23973 {
  position:absolute;
  left:0px;
  top:19px;
  width:73px;
  word-wrap:break-word;
}
#u23974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23974 {
  position:absolute;
  left:828px;
  top:74px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u23975 {
  position:absolute;
  left:0px;
  top:19px;
  width:100px;
  word-wrap:break-word;
}
#u23976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u23976 {
  position:absolute;
  left:928px;
  top:74px;
  width:101px;
  height:60px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  text-align:right;
}
#u23977 {
  position:absolute;
  left:0px;
  top:19px;
  width:101px;
  word-wrap:break-word;
}
#u23978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:43px;
}
#u23978 {
  position:absolute;
  left:179px;
  top:84px;
  width:177px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u23979 {
  position:absolute;
  left:2px;
  top:12px;
  width:173px;
  word-wrap:break-word;
}
#u23980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u23980 {
  position:absolute;
  left:940px;
  top:94px;
  width:20px;
  height:20px;
  font-size:8px;
}
#u23981 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u23983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:834px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23983 {
  position:absolute;
  left:44px;
  top:190px;
  width:212px;
  height:834px;
}
#u23984 {
  position:absolute;
  left:2px;
  top:409px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23985 {
  position:absolute;
  left:44px;
  top:738px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23986 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u23987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23987 {
  position:absolute;
  left:44px;
  top:190px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23988 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u23989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23989 {
  position:absolute;
  left:44px;
  top:580px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23990 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u23991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23991 {
  position:absolute;
  left:44px;
  top:248px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23992 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u23993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23993 {
  position:absolute;
  left:44px;
  top:464px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23994 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u23995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23995 {
  position:absolute;
  left:44px;
  top:406px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u23996 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u23997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:50px;
}
#u23997 {
  position:absolute;
  left:44px;
  top:356px;
  width:212px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u23998 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u23999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:50px;
}
#u23999 {
  position:absolute;
  left:44px;
  top:306px;
  width:212px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24000 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u24001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24001 {
  position:absolute;
  left:73px;
  top:207px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24002 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u24003 {
  position:absolute;
  left:229px;
  top:273px;
  width:10px;
  height:6px;
  color:#000000;
}
#u24004 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24005 {
  position:absolute;
  left:73px;
  top:265px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24006 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24007 {
  position:absolute;
  left:73px;
  top:423px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24008 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24009 {
  position:absolute;
  left:73px;
  top:481px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24010 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24011 {
  position:absolute;
  left:73px;
  top:597px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24012 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24013 {
  position:absolute;
  left:73px;
  top:755px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24014 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:2px;
}
#u24015 {
  position:absolute;
  left:44px;
  top:356px;
  width:212px;
  height:1px;
}
#u24016 {
  position:absolute;
  left:2px;
  top:-8px;
  width:208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24017 {
  position:absolute;
  left:44px;
  top:688px;
  width:212px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24018 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u24019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24019 {
  position:absolute;
  left:44px;
  top:638px;
  width:212px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u24020 {
  position:absolute;
  left:2px;
  top:12px;
  width:208px;
  word-wrap:break-word;
}
#u24021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:6px;
}
#u24021 {
  position:absolute;
  left:227px;
  top:606px;
  width:10px;
  height:6px;
  color:#000000;
}
#u24022 {
  position:absolute;
  left:2px;
  top:-5px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u24023 {
  position:absolute;
  left:44px;
  top:522px;
  width:212px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u24024 {
  position:absolute;
  left:2px;
  top:15px;
  width:208px;
  word-wrap:break-word;
}
#u24025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u24025 {
  position:absolute;
  left:73px;
  top:539px;
  width:25px;
  height:25px;
  font-size:10px;
}
#u24026 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  word-wrap:break-word;
}
#u24027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:18px;
}
#u24027 {
  position:absolute;
  left:44px;
  top:151px;
  width:189px;
  height:18px;
}
#u24028 {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u24029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:651px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24029 {
  position:absolute;
  left:267px;
  top:233px;
  width:764px;
  height:651px;
}
#u24030 {
  position:absolute;
  left:2px;
  top:318px;
  width:760px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24031 {
  position:absolute;
  left:267px;
  top:190px;
  width:93px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u24032 {
  position:absolute;
  left:2px;
  top:8px;
  width:89px;
  word-wrap:break-word;
}
#u24033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24033 {
  position:absolute;
  left:352px;
  top:450px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u24034 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24035 {
  position:absolute;
  left:352px;
  top:561px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u24036 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24037 {
  position:absolute;
  left:352px;
  top:596px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24038 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u24039 {
  position:absolute;
  left:352px;
  top:426px;
  width:630px;
  height:1px;
  color:#999999;
}
#u24040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u24041 {
  position:absolute;
  left:462px;
  top:450px;
  width:210px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u24042 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  white-space:nowrap;
}
#u24043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24043 {
  position:absolute;
  left:462px;
  top:564px;
  width:238px;
  height:18px;
  font-size:16px;
}
#u24044 {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  word-wrap:break-word;
}
#u24045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24045 {
  position:absolute;
  left:462px;
  top:596px;
  width:129px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24046 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u24047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  text-align:center;
}
#u24047 {
  position:absolute;
  left:267px;
  top:346px;
  width:764px;
  height:50px;
  font-size:36px;
  text-align:center;
}
#u24048 {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  word-wrap:break-word;
}
#u24049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:764px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u24049 {
  position:absolute;
  left:267px;
  top:286px;
  width:764px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:25px;
  text-align:center;
}
#u24050 {
  position:absolute;
  left:0px;
  top:7px;
  width:764px;
  word-wrap:break-word;
}
#u24051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u24051 {
  position:absolute;
  left:352px;
  top:532px;
  width:630px;
  height:1px;
  color:#999999;
}
#u24052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u24053 {
  position:absolute;
  left:352px;
  top:482px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u24054 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u24055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24055 {
  position:absolute;
  left:462px;
  top:482px;
  width:268px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u24056 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  word-wrap:break-word;
}
