body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2060px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:665px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:200px;
  height:665px;
}
#u2768_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2769_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:51px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:51px;
}
#u2769_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2770_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1238px;
  height:40px;
}
#u2770 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:1238px;
  height:40px;
}
#u2770_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1225px;
  height:100px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2771 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:104px;
  width:1225px;
  height:100px;
}
#u2771_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:61px;
  width:176px;
  height:22px;
  text-align:left;
}
#u2772_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:172px;
  word-wrap:break-word;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:272px;
  width:1221px;
  height:165px;
}
#u2774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:0px;
  width:208px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u2776_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:0px;
  width:208px;
  height:33px;
  font-size:14px;
  text-align:left;
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u2777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:208px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:33px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:0px;
  width:92px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:88px;
  word-wrap:break-word;
}
#u2779_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:33px;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:0px;
  width:117px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:33px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:0px;
  width:180px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:176px;
  word-wrap:break-word;
}
#u2781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:33px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u2783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:33px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2783_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u2784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:33px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u2785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:33px;
  width:92px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:33px;
  width:117px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2786_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  word-wrap:break-word;
}
#u2787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:33px;
  width:180px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2787_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:77px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2788_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u2789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2789 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:77px;
  width:208px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2789_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u2790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2790 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:77px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2790_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2791 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:77px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2791_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u2792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
}
#u2792 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:77px;
  width:92px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2792_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u2793 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:77px;
  width:117px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2793_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  word-wrap:break-word;
}
#u2794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
}
#u2794 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:77px;
  width:180px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2794_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2795 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:121px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2795_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u2796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2796 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:121px;
  width:208px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u2796_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u2797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2797 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:121px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2797_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u2798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:44px;
}
#u2798 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:121px;
  width:208px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2798_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:204px;
  word-wrap:break-word;
}
#u2799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:44px;
}
#u2799 {
  border-width:0px;
  position:absolute;
  left:832px;
  top:121px;
  width:92px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2799_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  word-wrap:break-word;
}
#u2800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:44px;
}
#u2800 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:121px;
  width:117px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2800_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:113px;
  word-wrap:break-word;
}
#u2801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:44px;
}
#u2801 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:121px;
  width:180px;
  height:44px;
  font-size:14px;
  text-align:left;
}
#u2801_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2803_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
  background:inherit;
  background-color:rgba(51, 122, 183, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2803 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:224px;
  width:167px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2803_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
  background:inherit;
  background-color:rgba(0, 153, 51, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2803.mouseOver {
}
#u2803_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u2804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:32px;
  background:inherit;
  background-color:rgba(51, 122, 183, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u2804 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:224px;
  width:16px;
  height:32px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u2804_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  white-space:nowrap;
}
#u2805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(93, 186, 91, 1);
  border:none;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2805 {
  border-width:0px;
  position:absolute;
  left:1291px;
  top:317px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2805_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(245, 169, 75, 1);
  border:none;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2806 {
  border-width:0px;
  position:absolute;
  left:1335px;
  top:317px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2806_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(210, 80, 80, 1);
  border:none;
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2807 {
  border-width:0px;
  position:absolute;
  left:1379px;
  top:317px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2807_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(93, 186, 91, 1);
  border:none;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2808 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:362px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2808_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(210, 80, 80, 1);
  border:none;
  border-radius:6px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2809 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:362px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2809_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:1252px;
}
#u2810 {
  border-width:0px;
  position:absolute;
  left:1460px;
  top:26px;
  width:600px;
  height:1252px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  text-align:left;
  line-height:28px;
}
#u2810_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:549px;
  height:1210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u2811 {
  border-width:0px;
  position:absolute;
  left:1486px;
  top:50px;
  width:549px;
  height:1210px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:28px;
}
#u2811_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:541px;
  word-wrap:break-word;
}
#u2812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u2812 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:190px;
  width:24px;
  height:24px;
  font-family:'Helvetica';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FF3399;
}
#u2812_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u2813 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:224px;
  width:0px;
  height:0px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u2813_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:8px;
  height:26px;
}
#u2813_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-26px;
  width:56px;
  height:8px;
}
#u2813_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-12px;
  width:18px;
  height:18px;
}
#u2813_text {
  border-width:0px;
  position:absolute;
  left:-35px;
  top:-30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  text-align:left;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:116px;
  width:172px;
  height:34px;
  font-size:14px;
  text-align:left;
}
#u2815_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:168px;
  word-wrap:break-word;
}
#u2816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:12px;
}
#u2816 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:127px;
  width:14px;
  height:12px;
}
#u2816_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u2817 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:160px;
  width:172px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u2817_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u2818_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u2818 {
  border-width:0px;
  position:absolute;
  left:228px;
  top:116px;
  width:172px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u2818_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u2819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
  text-align:left;
}
#u2819 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:160px;
  width:172px;
  height:34px;
  color:#AEAEAE;
  text-align:left;
}
#u2819_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u2820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2821 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:116px;
  width:172px;
  height:34px;
  text-align:left;
}
#u2821_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u2822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u2822 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:133px;
  width:14px;
  height:10px;
}
#u2822_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u2823 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:125px;
  width:14px;
  height:9px;
}
#u2823_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  word-wrap:break-word;
}
#u2824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:38px;
}
#u2824 {
  border-width:0px;
  position:absolute;
  left:636px;
  top:158px;
  width:76px;
  height:38px;
}
#u2824_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2825 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(216, 216, 216, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2826 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:116px;
  width:172px;
  height:34px;
  text-align:left;
}
#u2826_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:168px;
  word-wrap:break-word;
}
#u2827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u2827 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:133px;
  width:14px;
  height:10px;
}
#u2827_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:9px;
}
#u2828 {
  border-width:0px;
  position:absolute;
  left:986px;
  top:125px;
  width:14px;
  height:9px;
}
#u2828_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  word-wrap:break-word;
}
#u2829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(93, 186, 91, 1);
  border:none;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2829 {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:405px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2829_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u2830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:23px;
  background:inherit;
  background-color:rgba(210, 80, 80, 0.537254901960784);
  border:none;
  border-radius:4px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2830 {
  border-width:0px;
  position:absolute;
  left:1336px;
  top:405px;
  width:44px;
  height:23px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2830_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
