body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:792px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u792 {
  position:absolute;
  left:100px;
  top:100px;
  width:320px;
  height:568px;
}
#u793 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u794 {
  position:absolute;
  left:492px;
  top:286px;
  width:300px;
  height:143px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
  line-height:22px;
}
#u795 {
  position:absolute;
  left:0px;
  top:49px;
  width:300px;
  word-wrap:break-word;
}
