body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1059px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30719_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:113px;
}
#u30719 {
  position:absolute;
  left:88px;
  top:253px;
  width:971px;
  height:113px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30720 {
  position:absolute;
  left:2px;
  top:2px;
  width:967px;
  word-wrap:break-word;
}
#u30721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30721 {
  position:absolute;
  left:59px;
  top:253px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u30722 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u30723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:113px;
}
#u30723 {
  position:absolute;
  left:88px;
  top:397px;
  width:971px;
  height:113px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30724 {
  position:absolute;
  left:2px;
  top:2px;
  width:967px;
  word-wrap:break-word;
}
#u30725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30725 {
  position:absolute;
  left:59px;
  top:397px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u30726 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u30727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:971px;
  height:178px;
}
#u30727 {
  position:absolute;
  left:88px;
  top:30px;
  width:971px;
  height:178px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30728 {
  position:absolute;
  left:2px;
  top:2px;
  width:967px;
  word-wrap:break-word;
}
#u30729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30729 {
  position:absolute;
  left:59px;
  top:30px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u30730 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
