body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:689px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u257 {
  position:absolute;
  left:0px;
  top:34px;
  width:360px;
  height:640px;
}
#u258 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u259 {
  position:absolute;
  left:0px;
  top:34px;
  width:360px;
  height:24px;
}
#u260 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u261 {
  position:absolute;
  left:159px;
  top:316px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:34px;
}
#u264 {
  position:absolute;
  left:2px;
  top:9px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u265 {
  position:absolute;
  left:12px;
  top:7px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u267 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:288px;
  height:92px;
}
#u268 {
  position:absolute;
  left:401px;
  top:158px;
  width:288px;
  height:92px;
  color:#FFFF00;
}
#u269 {
  position:absolute;
  left:2px;
  top:38px;
  width:284px;
  visibility:hidden;
  word-wrap:break-word;
}
#u270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u270 {
  position:absolute;
  left:424px;
  top:172px;
  width:44px;
  height:56px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u272_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:147px;
  height:21px;
}
#u272p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:139px;
  height:1px;
}
#u272p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:149px;
  height:21px;
}
#u272p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u272p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u272p002 {
  position:absolute;
  left:122px;
  top:-11px;
  width:22px;
  height:22px;
}
#u272p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u272.compound {
  width:0px;
  height:0px;
}
#u272 {
  position:absolute;
  left:264px;
  top:204px;
  width:137px;
  height:1px;
}
#u273 {
  position:absolute;
  left:2px;
  top:-8px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
