body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:870px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5879 {
  position:absolute;
  left:121px;
  top:147px;
  width:320px;
  height:568px;
  font-family:'华文细黑 Regular', '华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5880 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 102, 0, 0.509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 167, 167, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5881 {
  position:absolute;
  left:121px;
  top:95px;
  width:320px;
  height:52px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u5882 {
  position:absolute;
  left:15px;
  top:16px;
  width:290px;
  word-wrap:break-word;
  text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
  -webkit-text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
  -moz-text-shadow:0px 1px 0px rgba(255, 255, 255, 0.2);
}
#u5883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
}
#u5883 {
  position:absolute;
  left:121px;
  top:147px;
  width:320px;
  height:64px;
}
#u5884 {
  position:absolute;
  left:2px;
  top:24px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5885 {
  position:absolute;
  left:121px;
  top:147px;
  width:369px;
  height:20px;
  font-family:'STHeitiSC-Medium', 'Heiti SC Medium', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u5886 {
  position:absolute;
  left:0px;
  top:4px;
  width:369px;
  word-wrap:break-word;
}
#u5887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5887 {
  position:absolute;
  left:171px;
  top:177px;
  width:225px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u5888 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  word-wrap:break-word;
}
#u5889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5889 {
  position:absolute;
  left:130px;
  top:176px;
  width:24px;
  height:24px;
  font-size:11px;
  color:#999999;
}
#u5890 {
  position:absolute;
  left:2px;
  top:6px;
  width:20px;
  word-wrap:break-word;
}
#u5891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:40px;
}
#u5891 {
  position:absolute;
  left:177px;
  top:620px;
  width:205px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  line-height:28px;
}
#u5892 {
  position:absolute;
  left:2px;
  top:6px;
  width:201px;
  word-wrap:break-word;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5893 {
  position:absolute;
  left:403px;
  top:176px;
  width:24px;
  height:24px;
  font-size:11px;
  color:#999999;
}
#u5894 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:191px;
}
#u5895 {
  position:absolute;
  left:121px;
  top:210px;
  width:320px;
  height:190px;
  color:#999999;
}
#u5896 {
  position:absolute;
  left:2px;
  top:88px;
  width:316px;
  word-wrap:break-word;
}
#u5897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5897 {
  position:absolute;
  left:198px;
  top:250px;
  width:160px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u5898 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  word-wrap:break-word;
}
#u5899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u5899 {
  position:absolute;
  left:162px;
  top:587px;
  width:239px;
  height:14px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u5900 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:80px;
}
#u5901 {
  position:absolute;
  left:121px;
  top:480px;
  width:320px;
  height:80px;
}
#u5902 {
  position:absolute;
  left:2px;
  top:32px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u5903 {
  position:absolute;
  left:307px;
  top:530px;
  width:108px;
  height:20px;
  font-family:'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
  text-align:center;
}
#u5904 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  word-wrap:break-word;
}
#u5905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
}
#u5905 {
  position:absolute;
  left:168px;
  top:525px;
  width:106px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
}
#u5906 {
  position:absolute;
  left:0px;
  top:5px;
  width:106px;
  word-wrap:break-word;
}
#u5907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
}
#u5907 {
  position:absolute;
  left:170px;
  top:485px;
  width:162px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  color:#BCBCBC;
}
#u5908 {
  position:absolute;
  left:0px;
  top:5px;
  width:162px;
  word-wrap:break-word;
}
#u5909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u5909 {
  position:absolute;
  left:122px;
  top:520px;
  width:319px;
  height:1px;
}
#u5910 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:41px;
}
#u5911 {
  position:absolute;
  left:279px;
  top:520px;
  width:1px;
  height:40px;
}
#u5912 {
  position:absolute;
  left:2px;
  top:12px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5913 {
  position:absolute;
  left:138px;
  top:490px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#999999;
}
#u5914 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  word-wrap:break-word;
}
#u5915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(174, 174, 174, 0.509803921568627);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#999999;
}
#u5915 {
  position:absolute;
  left:138px;
  top:529px;
  width:22px;
  height:22px;
  font-size:11px;
  color:#999999;
}
#u5916 {
  position:absolute;
  left:2px;
  top:5px;
  width:18px;
  word-wrap:break-word;
}
#u5917 {
  position:absolute;
  left:450px;
  top:640px;
  width:0px;
  height:0px;
}
#u5917_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u5917_seg1 {
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5918 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:128px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5919 {
  position:absolute;
  left:550px;
  top:576px;
  width:320px;
  height:128px;
  opacity:0.699999988079071;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u5920 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u5921 {
  position:absolute;
  left:571px;
  top:610px;
  width:239px;
  height:72px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u5922 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  word-wrap:break-word;
}
