body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1103px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u30663 {
  position:absolute;
  left:95px;
  top:14px;
  width:148px;
  height:469px;
}
#u30664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u30664 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:22px;
}
#u30665 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u30666_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:40px;
}
#u30666 {
  position:absolute;
  left:0px;
  top:22px;
  width:143px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30667 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u30668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
}
#u30668 {
  position:absolute;
  left:0px;
  top:62px;
  width:143px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30669 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
#u30670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
}
#u30670 {
  position:absolute;
  left:0px;
  top:120px;
  width:143px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30671 {
  position:absolute;
  left:2px;
  top:20px;
  width:139px;
  word-wrap:break-word;
}
#u30672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:58px;
}
#u30672 {
  position:absolute;
  left:0px;
  top:178px;
  width:143px;
  height:58px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30673 {
  position:absolute;
  left:2px;
  top:11px;
  width:139px;
  word-wrap:break-word;
}
#u30674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:114px;
}
#u30674 {
  position:absolute;
  left:0px;
  top:236px;
  width:143px;
  height:114px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30675 {
  position:absolute;
  left:2px;
  top:2px;
  width:139px;
  word-wrap:break-word;
}
#u30676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:114px;
}
#u30676 {
  position:absolute;
  left:0px;
  top:350px;
  width:143px;
  height:114px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30677 {
  position:absolute;
  left:2px;
  top:35px;
  width:139px;
  word-wrap:break-word;
}
#u30678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30678 {
  position:absolute;
  left:711px;
  top:111px;
  width:392px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30679 {
  position:absolute;
  left:2px;
  top:14px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30680 {
  position:absolute;
  left:729px;
  top:121px;
  width:341px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u30681 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u30682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30682 {
  position:absolute;
  left:284px;
  top:190px;
  width:392px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30683 {
  position:absolute;
  left:2px;
  top:14px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u30684 {
  position:absolute;
  left:302px;
  top:200px;
  width:341px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u30685 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u30686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30686 {
  position:absolute;
  left:284px;
  top:269px;
  width:392px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30687 {
  position:absolute;
  left:2px;
  top:14px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u30688 {
  position:absolute;
  left:302px;
  top:279px;
  width:341px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FFFFFF;
}
#u30689 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  word-wrap:break-word;
}
#u30690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:36px;
}
#u30690 {
  position:absolute;
  left:284px;
  top:65px;
  width:300px;
  height:36px;
}
#u30691 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u30692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
}
#u30692 {
  position:absolute;
  left:284px;
  top:137px;
  width:300px;
  height:18px;
}
#u30693 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u30694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:215px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30694 {
  position:absolute;
  left:711px;
  top:156px;
  width:392px;
  height:215px;
}
#u30695 {
  position:absolute;
  left:2px;
  top:100px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u30696 {
  position:absolute;
  left:728px;
  top:164px;
  width:336px;
  height:13px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u30697 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:17px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30698 {
  position:absolute;
  left:1001px;
  top:346px;
  width:91px;
  height:17px;
}
#u30699 {
  position:absolute;
  left:2px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u30700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:2px;
}
#u30700 {
  position:absolute;
  left:711px;
  top:339px;
  width:392px;
  height:1px;
}
#u30701 {
  position:absolute;
  left:2px;
  top:-8px;
  width:388px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:91px;
}
#u30702 {
  position:absolute;
  left:711px;
  top:200px;
  width:392px;
  height:91px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30703 {
  position:absolute;
  left:2px;
  top:36px;
  width:388px;
  word-wrap:break-word;
}
#u30704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u30704 {
  position:absolute;
  left:504px;
  top:618px;
  width:207px;
  height:170px;
  text-align:left;
}
#u30705 {
  position:absolute;
  left:2px;
  top:2px;
  width:203px;
  word-wrap:break-word;
}
#u30706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:46px;
}
#u30706 {
  position:absolute;
  left:302px;
  top:419px;
  width:112px;
  height:46px;
  font-size:20px;
}
#u30707 {
  position:absolute;
  left:0px;
  top:9px;
  width:112px;
  word-wrap:break-word;
}
#u30708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30708 {
  position:absolute;
  left:302px;
  top:465px;
  width:750px;
  height:54px;
}
#u30709 {
  position:absolute;
  left:2px;
  top:19px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30710 {
  position:absolute;
  left:318px;
  top:482px;
  width:443px;
  height:20px;
}
#u30711 {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  word-wrap:break-word;
}
#u30712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30712 {
  position:absolute;
  left:868px;
  top:477px;
  width:140px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u30713 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u30714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30714 {
  position:absolute;
  left:805px;
  top:477px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u30715 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u30716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(25, 158, 216, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u30716 {
  position:absolute;
  left:1014px;
  top:477px;
  width:30px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u30717 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u30718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:336px;
}
#u30718 {
  position:absolute;
  left:38px;
  top:631px;
  width:405px;
  height:336px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30719 {
  position:absolute;
  left:2px;
  top:2px;
  width:401px;
  word-wrap:break-word;
}
#u30720 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:276px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u30721 {
  position:absolute;
  left:12px;
  top:1058px;
  width:1080px;
  height:276px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u30722 {
  position:absolute;
  left:2px;
  top:2px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30723 {
  position:absolute;
  left:94px;
  top:1136px;
  width:432px;
  height:170px;
}
#u30724 {
  position:absolute;
  left:2px;
  top:77px;
  width:428px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30725 {
  position:absolute;
  left:584px;
  top:1136px;
  width:456px;
  height:170px;
}
#u30726 {
  position:absolute;
  left:2px;
  top:77px;
  width:452px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30727_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u30727 {
  position:absolute;
  left:226px;
  top:1136px;
  width:56px;
  height:37px;
  font-size:16px;
  text-align:center;
}
#u30728 {
  position:absolute;
  left:0px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u30729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u30729 {
  position:absolute;
  left:584px;
  top:1136px;
  width:46px;
  height:37px;
  font-size:16px;
  text-align:center;
}
#u30730 {
  position:absolute;
  left:0px;
  top:8px;
  width:46px;
  word-wrap:break-word;
}
#u30731_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u30731 {
  position:absolute;
  left:94px;
  top:1173px;
  width:432px;
  height:133px;
  font-size:16px;
  text-align:left;
}
#u30732 {
  position:absolute;
  left:2px;
  top:2px;
  width:428px;
  word-wrap:break-word;
}
#u30733_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u30733 {
  position:absolute;
  left:584px;
  top:1173px;
  width:456px;
  height:133px;
  font-size:16px;
  text-align:left;
}
#u30734 {
  position:absolute;
  left:2px;
  top:2px;
  width:452px;
  word-wrap:break-word;
}
#u30735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u30735 {
  position:absolute;
  left:12px;
  top:1076px;
  width:1080px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u30736 {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  word-wrap:break-word;
}
#u30737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:336px;
}
#u30737 {
  position:absolute;
  left:48px;
  top:1365px;
  width:525px;
  height:336px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u30738 {
  position:absolute;
  left:2px;
  top:2px;
  width:521px;
  word-wrap:break-word;
}
#u30739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u30739 {
  position:absolute;
  left:48px;
  top:1739px;
  width:300px;
  height:170px;
  text-align:left;
}
#u30740 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
