body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1639px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:455px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3143 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:900px;
  height:455px;
}
#u3143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u3144 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:149px;
  width:900px;
  height:1px;
}
#u3144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u3145 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:114px;
  width:37px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u3145_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#A1A1A1;
  text-align:center;
}
#u3146 {
  border-width:0px;
  position:absolute;
  left:972px;
  top:114px;
  width:13px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#A1A1A1;
  text-align:center;
}
#u3146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u3147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3147 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:166px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3148 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:245px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3149 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:415px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3150 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:314px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  text-align:right;
}
#u3150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3151 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:196px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:center;
}
#u3151_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3151_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3152 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:196px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3152_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3152_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3153 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:196px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3153_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3153_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3154 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:196px;
  width:78px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3154_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u3154_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3155 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:275px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3155_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3155_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3156 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:275px;
  width:77px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3156_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u3156_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3157 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:344px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3157_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3157_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3158 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:344px;
  width:110px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3158_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u3158_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3159 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:344px;
  width:74px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3159_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u3159_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3160 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:344px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3160_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3160_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3161 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:451px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3161_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3161_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3162 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:451px;
  width:106px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3162_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u3162_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3163 {
  border-width:0px;
  position:absolute;
  left:779px;
  top:505px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u3164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3164 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:505px;
  width:88px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u3165 {
  border-width:0px;
  position:absolute;
  left:642px;
  top:196px;
  width:139px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3165_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u3165_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3166 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:275px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3166_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3166_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3167 {
  border-width:0px;
  position:absolute;
  left:667px;
  top:275px;
  width:86px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3167_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:68px;
  word-wrap:break-word;
}
#u3167_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3168 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:196px;
  width:94px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3168_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u3168_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:531px;
}
#u3169 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:100px;
  width:607px;
  height:531px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  text-align:left;
  line-height:28px;
}
#u3169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:435px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF3399;
}
#u3170 {
  border-width:0px;
  position:absolute;
  left:1055px;
  top:120px;
  width:559px;
  height:435px;
  font-size:14px;
  color:#FF3399;
}
#u3170_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:551px;
  word-wrap:break-word;
}
#u3171 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:344px;
  width:102px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3171_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:84px;
  word-wrap:break-word;
}
#u3171_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3172 {
  border-width:0px;
  position:absolute;
  left:458px;
  top:344px;
  width:92px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3172_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u3172_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3173 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:378px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3173_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3173_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3174 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:378px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3174_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3174_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3175 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:378px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3175_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3175_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3176 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:378px;
  width:131px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3176_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:113px;
  word-wrap:break-word;
}
#u3176_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3177 {
  border-width:0px;
  position:absolute;
  left:297px;
  top:275px;
  width:111px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3177_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u3177_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3178 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:275px;
  width:111px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3178_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u3178_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3179 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:275px;
  width:111px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3179_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u3179_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
