body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1061 {
  position:absolute;
  left:94px;
  top:29px;
  width:840px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2130px;
  height:7273px;
}
#u1063 {
  position:absolute;
  left:10px;
  top:92px;
  width:2130px;
  height:7273px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:3628px;
  width:2126px;
  visibility:hidden;
  word-wrap:break-word;
}
