body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1217px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u798 {
  position:absolute;
  left:100px;
  top:182px;
  width:129px;
  height:18px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u800_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u800 {
  position:absolute;
  left:257px;
  top:182px;
  width:33px;
  height:33px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u801 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:289px;
  top:182px;
  width:200px;
  height:33px;
}
#u802_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u802_input:disabled {
  color:grayText;
}
#u803_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u803 {
  position:absolute;
  left:123px;
  top:255px;
  width:106px;
  height:15px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u804 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u805_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u805 {
  position:absolute;
  left:257px;
  top:247px;
  width:33px;
  height:33px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#CCCCCC;
}
#u806 {
  position:absolute;
  left:2px;
  top:7px;
  width:29px;
  word-wrap:break-word;
}
#u807 {
  position:absolute;
  left:289px;
  top:247px;
  width:200px;
  height:33px;
}
#u807_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:33px;
  font-family:'MicrosoftYaHei', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u807_input:disabled {
  color:grayText;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:221px;
}
#u808 {
  position:absolute;
  left:639px;
  top:100px;
  width:578px;
  height:221px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#363636;
  line-height:22px;
}
#u809 {
  position:absolute;
  left:0px;
  top:21px;
  width:578px;
  word-wrap:break-word;
}
