body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:719px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1137px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3921 {
  position:absolute;
  left:0px;
  top:40px;
  width:720px;
  height:1137px;
  font-size:14px;
}
#u3922 {
  position:absolute;
  left:2px;
  top:560px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3923 {
  position:absolute;
  left:-1px;
  top:40px;
  width:720px;
  height:88px;
  font-size:12px;
}
#u3924 {
  position:absolute;
  left:2px;
  top:36px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:40px;
  font-size:16px;
}
#u3926 {
  position:absolute;
  left:2px;
  top:12px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3927 {
  position:absolute;
  left:22px;
  top:12px;
  width:198px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  word-wrap:break-word;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3929 {
  position:absolute;
  left:62px;
  top:62px;
  width:60px;
  height:40px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u3931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:925px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3931 {
  position:absolute;
  left:61px;
  top:166px;
  width:599px;
  height:925px;
}
#u3932 {
  position:absolute;
  left:2px;
  top:454px;
  width:595px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3933 {
  position:absolute;
  left:115px;
  top:171px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u3934 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3935 {
  position:absolute;
  left:115px;
  top:199px;
  width:493px;
  height:235px;
  font-size:12px;
}
#u3936 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3937 {
  position:absolute;
  left:133px;
  top:220px;
  width:39px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3938 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u3939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:38px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3939 {
  position:absolute;
  left:467px;
  top:938px;
  width:116px;
  height:38px;
  font-size:12px;
  color:#FFFFFF;
}
#u3940 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  word-wrap:break-word;
}
#u3941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3941 {
  position:absolute;
  left:127px;
  top:258px;
  width:195px;
  height:17px;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u3943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  line-height:12px;
}
#u3943 {
  position:absolute;
  left:133px;
  top:284px;
  width:461px;
  height:12px;
  font-size:8px;
  line-height:12px;
}
#u3944 {
  position:absolute;
  left:0px;
  top:0px;
  width:461px;
  word-wrap:break-word;
}
#u3945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#000000;
}
#u3945 {
  position:absolute;
  left:133px;
  top:308px;
  width:100px;
  height:10px;
  font-size:8px;
  color:#000000;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:51px;
}
#u3947 {
  position:absolute;
  left:135px;
  top:328px;
  width:60px;
  height:51px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:18px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u3949 {
  position:absolute;
  left:133px;
  top:388px;
  width:156px;
  height:10px;
  font-size:8px;
  color:#999999;
}
#u3950 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#999999;
}
#u3951 {
  position:absolute;
  left:133px;
  top:405px;
  width:121px;
  height:10px;
  font-size:8px;
  color:#999999;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u3953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3953 {
  position:absolute;
  left:135px;
  top:455px;
  width:25px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3954 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3955 {
  position:absolute;
  left:135px;
  top:500px;
  width:49px;
  height:15px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u3956 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3957 {
  position:absolute;
  left:179px;
  top:446px;
  width:33px;
  height:33px;
  font-size:36px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:-4px;
  width:29px;
  word-wrap:break-word;
}
#u3959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3959 {
  position:absolute;
  left:211px;
  top:446px;
  width:66px;
  height:33px;
  font-size:16px;
}
#u3960 {
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u3961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:33px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u3961 {
  position:absolute;
  left:275px;
  top:446px;
  width:33px;
  height:33px;
  font-size:36px;
}
#u3962 {
  position:absolute;
  left:2px;
  top:-4px;
  width:29px;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  position:absolute;
  left:135px;
  top:627px;
  width:466px;
  height:50px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:17px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u3965 {
  position:absolute;
  left:150px;
  top:640px;
  width:22px;
  height:22px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u3967 {
  position:absolute;
  left:155px;
  top:645px;
  width:12px;
  height:12px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:182px;
  top:645px;
  width:99px;
  height:17px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3971 {
  position:absolute;
  left:152px;
  top:696px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3973 {
  position:absolute;
  left:374px;
  top:696px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3975 {
  position:absolute;
  left:163px;
  top:704px;
  width:29px;
  height:17px;
  color:#999999;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3977 {
  position:absolute;
  left:383px;
  top:704px;
  width:43px;
  height:17px;
  color:#999999;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3979 {
  position:absolute;
  left:152px;
  top:746px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3981 {
  position:absolute;
  left:374px;
  top:746px;
  width:208px;
  height:33px;
  font-size:16px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3983 {
  position:absolute;
  left:163px;
  top:754px;
  width:71px;
  height:17px;
  color:#000000;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u3985 {
  position:absolute;
  left:383px;
  top:754px;
  width:71px;
  height:17px;
  color:#000000;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3987 {
  position:absolute;
  left:330px;
  top:751px;
  width:25px;
  height:25px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3989 {
  position:absolute;
  left:550px;
  top:751px;
  width:25px;
  height:25px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3991 {
  position:absolute;
  left:152px;
  top:796px;
  width:430px;
  height:33px;
  font-size:16px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3993 {
  position:absolute;
  left:163px;
  top:804px;
  width:57px;
  height:17px;
  color:#999999;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3995 {
  position:absolute;
  left:152px;
  top:846px;
  width:430px;
  height:33px;
  font-size:16px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:8px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u3997 {
  position:absolute;
  left:163px;
  top:854px;
  width:225px;
  height:17px;
  color:#999999;
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3999 {
  position:absolute;
  left:543px;
  top:907px;
  width:39px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4001 {
  position:absolute;
  left:517px;
  top:912px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u4003 {
  position:absolute;
  left:137px;
  top:82px;
  width:29px;
  height:17px;
  color:#000000;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:466px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:135px;
  top:537px;
  width:466px;
  height:50px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:17px;
  width:462px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4007 {
  position:absolute;
  left:150px;
  top:550px;
  width:22px;
  height:22px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4009 {
  position:absolute;
  left:182px;
  top:545px;
  width:195px;
  height:20px;
}
#u4010 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4011 {
  position:absolute;
  left:182px;
  top:565px;
  width:135px;
  height:20px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
