body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2256px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1427px;
  height:827px;
}
#u3310 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:7px;
  width:1427px;
  height:827px;
}
#u3310_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3311_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3311 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:529px;
  width:123px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3311_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:119px;
  word-wrap:break-word;
}
#u3312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3312 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:494px;
  width:123px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3312_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:119px;
  word-wrap:break-word;
}
#u3313_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:28px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3313 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:532px;
  width:123px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3313_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:119px;
  word-wrap:break-word;
}
#u3314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3315 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:486px;
  width:24px;
  height:24px;
  font-size:12px;
  color:#FF3399;
}
#u3315_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:20px;
  word-wrap:break-word;
}
#u3316 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:498px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u3316_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:26px;
  height:8px;
}
#u3316_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u3316_text {
  border-width:0px;
  position:absolute;
  left:-39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:77px;
}
#u3317 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:486px;
  width:305px;
  height:77px;
  font-size:14px;
  color:#FF3399;
}
#u3317_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:876px;
}
#u3318 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:64px;
  width:738px;
  height:876px;
  font-family:'Microsoft YaHei UI';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF3399;
  text-align:left;
  line-height:28px;
}
#u3318_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3319_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:840px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  line-height:25px;
}
#u3319 {
  border-width:0px;
  position:absolute;
  left:1537px;
  top:79px;
  width:693px;
  height:840px;
  line-height:25px;
}
#u3319_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:4px;
  width:685px;
  word-wrap:break-word;
}
#u3320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:487px;
  height:251px;
}
#u3320 {
  border-width:0px;
  position:absolute;
  left:1546px;
  top:312px;
  width:487px;
  height:251px;
}
#u3320_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
