body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1201 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1202 {
  position:absolute;
  left:100px;
  top:90px;
  width:375px;
  height:667px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1204 {
  position:absolute;
  left:100px;
  top:90px;
  width:375px;
  height:20px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1206 {
  position:absolute;
  left:100px;
  top:50px;
  width:375px;
  height:40px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u1207 {
  position:absolute;
  left:2px;
  top:12px;
  width:371px;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1208 {
  position:absolute;
  left:100px;
  top:90px;
  width:375px;
  height:20px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1210 {
  position:absolute;
  left:100px;
  top:152px;
  width:375px;
  height:49px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1213 {
  position:absolute;
  left:100px;
  top:110px;
  width:375px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1214 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
}
#u1215 {
  position:absolute;
  left:116px;
  top:122px;
  width:12px;
  height:20px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1217 {
  position:absolute;
  left:100px;
  top:154px;
  width:125px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1219 {
  position:absolute;
  left:225px;
  top:154px;
  width:125px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1220 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:47px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1221 {
  position:absolute;
  left:350px;
  top:154px;
  width:125px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:2px;
  top:14px;
  width:121px;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-top:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:100px;
  top:201px;
  width:375px;
  height:95px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:40px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1225 {
  position:absolute;
  left:259px;
  top:211px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1227 {
  position:absolute;
  left:138px;
  top:241px;
  width:300px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:409px;
  top:117px;
  width:57px;
  height:30px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:6px;
  width:53px;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1231 {
  position:absolute;
  left:113px;
  top:316px;
  width:80px;
  height:80px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1233 {
  position:absolute;
  left:203px;
  top:316px;
  width:80px;
  height:80px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1235 {
  position:absolute;
  left:293px;
  top:316px;
  width:80px;
  height:80px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1237 {
  position:absolute;
  left:383px;
  top:316px;
  width:80px;
  height:80px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1239 {
  position:absolute;
  left:113px;
  top:406px;
  width:80px;
  height:80px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1241 {
  position:absolute;
  left:203px;
  top:406px;
  width:80px;
  height:80px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1243 {
  position:absolute;
  left:293px;
  top:406px;
  width:80px;
  height:80px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1245 {
  position:absolute;
  left:383px;
  top:406px;
  width:80px;
  height:80px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1247 {
  position:absolute;
  left:113px;
  top:496px;
  width:80px;
  height:80px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u1249 {
  position:absolute;
  left:203px;
  top:496px;
  width:80px;
  height:80px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
