body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:607px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:1925px;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:1925px;
}
#u257 {
  position:absolute;
  left:2px;
  top:954px;
  width:603px;
  visibility:hidden;
  word-wrap:break-word;
}
