body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1140px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u912 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u913 {
  position:absolute;
  left:12px;
  top:7px;
  width:105px;
  height:20px;
  color:#FFFFFF;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u915 {
  position:absolute;
  left:390px;
  top:30px;
  width:360px;
  height:640px;
}
#u916 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u917 {
  position:absolute;
  left:390px;
  top:54px;
  width:360px;
  height:44px;
}
#u918 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u919 {
  position:absolute;
  left:390px;
  top:30px;
  width:360px;
  height:24px;
}
#u920 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u921 {
  position:absolute;
  left:398px;
  top:60px;
  width:29px;
  height:29px;
}
#u922 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u923 {
  position:absolute;
  left:701px;
  top:68px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
}
#u925 {
  position:absolute;
  left:435px;
  top:298px;
  width:217px;
  height:17px;
  font-size:12px;
  text-decoration:underline;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u927 {
  position:absolute;
  left:531px;
  top:63px;
  width:70px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u929 {
  position:absolute;
  left:390px;
  top:0px;
  width:360px;
  height:30px;
}
#u930 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u931 {
  position:absolute;
  left:402px;
  top:7px;
  width:127px;
  height:20px;
  color:#FFFFFF;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u933 {
  position:absolute;
  left:780px;
  top:30px;
  width:360px;
  height:640px;
}
#u934 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u935 {
  position:absolute;
  left:780px;
  top:54px;
  width:360px;
  height:44px;
}
#u936 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u937 {
  position:absolute;
  left:780px;
  top:30px;
  width:360px;
  height:24px;
}
#u938 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u939 {
  position:absolute;
  left:788px;
  top:60px;
  width:29px;
  height:29px;
}
#u940 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u941 {
  position:absolute;
  left:1091px;
  top:68px;
  width:27px;
  height:18px;
  font-size:13px;
  color:#999999;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u943 {
  position:absolute;
  left:820px;
  top:298px;
  width:248px;
  height:17px;
  font-size:12px;
  color:#FF0000;
}
#u944 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u945 {
  position:absolute;
  left:921px;
  top:63px;
  width:70px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:780px;
  top:0px;
  width:360px;
  height:30px;
}
#u948 {
  position:absolute;
  left:2px;
  top:7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:792px;
  top:7px;
  width:127px;
  height:20px;
  color:#FFFFFF;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u951 {
  position:absolute;
  left:0px;
  top:30px;
  width:360px;
  height:640px;
}
#u952 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u953 {
  position:absolute;
  left:0px;
  top:54px;
  width:360px;
  height:44px;
}
#u954 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u955 {
  position:absolute;
  left:0px;
  top:30px;
  width:360px;
  height:24px;
}
#u956 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u957 {
  position:absolute;
  left:8px;
  top:60px;
  width:29px;
  height:29px;
}
#u958 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u959 {
  position:absolute;
  left:141px;
  top:63px;
  width:70px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:17px;
}
#u960 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u961 {
  position:absolute;
  left:311px;
  top:68px;
  width:27px;
  height:18px;
  font-size:13px;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u963 {
  position:absolute;
  left:45px;
  top:116px;
  width:213px;
  height:24px;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u965 {
  position:absolute;
  left:25px;
  top:200px;
  width:311px;
  height:1px;
}
#u966 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u967 {
  position:absolute;
  left:246px;
  top:163px;
  width:82px;
  height:29px;
  font-size:12px;
}
#u968 {
  position:absolute;
  left:2px;
  top:8px;
  width:78px;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u969 {
  position:absolute;
  left:46px;
  top:169px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u970 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u971 {
  position:absolute;
  left:434px;
  top:116px;
  width:213px;
  height:24px;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u973 {
  position:absolute;
  left:415px;
  top:200px;
  width:311px;
  height:1px;
}
#u974 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u975 {
  position:absolute;
  left:636px;
  top:163px;
  width:82px;
  height:29px;
  font-size:12px;
}
#u976 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u977 {
  position:absolute;
  left:435px;
  top:169px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u978 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u979 {
  position:absolute;
  left:25px;
  top:269px;
  width:311px;
  height:1px;
}
#u980 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u981 {
  position:absolute;
  left:304px;
  top:235px;
  width:23px;
  height:23px;
}
#u982 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u983 {
  position:absolute;
  left:46px;
  top:241px;
  width:206px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u985 {
  position:absolute;
  left:417px;
  top:269px;
  width:311px;
  height:1px;
}
#u986 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u987 {
  position:absolute;
  left:696px;
  top:235px;
  width:23px;
  height:23px;
}
#u988 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u989 {
  position:absolute;
  left:435px;
  top:241px;
  width:206px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u990 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u991 {
  position:absolute;
  left:819px;
  top:116px;
  width:213px;
  height:24px;
  font-size:12px;
  text-align:center;
  line-height:24px;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  white-space:nowrap;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u993 {
  position:absolute;
  left:805px;
  top:200px;
  width:311px;
  height:1px;
}
#u994 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u995 {
  position:absolute;
  left:1026px;
  top:163px;
  width:82px;
  height:29px;
  font-size:12px;
}
#u996 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u997 {
  position:absolute;
  left:820px;
  top:169px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:2px;
}
#u999 {
  position:absolute;
  left:807px;
  top:269px;
  width:311px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-8px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1001 {
  position:absolute;
  left:1086px;
  top:235px;
  width:23px;
  height:23px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1003 {
  position:absolute;
  left:820px;
  top:241px;
  width:206px;
  height:17px;
  font-size:12px;
  color:#999999;
}
#u1004 {
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  white-space:nowrap;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-decoration:underline;
}
#u1005 {
  position:absolute;
  left:68px;
  top:298px;
  width:217px;
  height:17px;
  font-size:12px;
  text-decoration:underline;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
